@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
:root {
    --bg-color: #232323;
    --color: cyan;
    --light-shadow: white;
}

html {}

body {
    background: radial-gradient(var(--color), var(--bg-color));
    /*background-color: var(--bg-color);*/
}

body, body * {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color);
    font-family: sans-serif;
    font-size: 26px;
    letter-spacing: .5px;
    text-align: center;
    /*border: 1px solid;*/
    outline: none;
}

body *::selection {
    background-color: transparent;
}


/*
body * {
    background-color: var(--bg-color);
}
*/

span {
    display: inline-block;
}


/*------------------------------------------------------------------------------------------------------------------------*/

h1 {
    margin-top: 100px;
    margin-bottom: 32px;
    color: #202020;
    font-family: rubik mono one;
    font-size: 44px;
    letter-spacing: 0;
    text-shadow: 0 1px 0 var(--light-shadow), 0 1px 14px var(--light-shadow), 0 2px 16px var(--color);
}


/*------------------------------------------------------------------------------------------------------------------------*/

.wells {
    display: inline-block;
    margin: 0 16px;
    vertical-align: top;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.conts {
    margin: 4px auto;
    padding: 8px;
    background-color: var(--bg-color);
    border: 1px solid var(--light-shadow);
    border-radius: 16px;
    box-shadow: 0 0 24px var(--light-shadow);
}

.conts p {
    margin-bottom: 16px;
    font-weight: bold;
    text-shadow: 0 1px 0 var(--bg-color), 0 0 1px var(--light-shadow);
}

.conts#duration-cont p {
    margin-top: 6px;
}

.conts#special-cont p {
    margin-bottom: 32px;
}

/*------------------------------------------------------------------------------------------------------------------------*/

#video-cont {
    margin-top: 64px;
    margin-bottom: 64px;
    display: inline-block;
    padding: 16px;
    background-color: var(--bg-color);
    border: 8px solid var(--light-shadow);
    border-radius: 50%;
    box-shadow: 0 0 24px var(--light-shadow), 0 2px 32px var(--bg-color);
    perspective: 100px;
    transform-style: preserve-3d;
}

#video-cont img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
    z-index: -1;
    width: 250px;
    opacity: 0;
    transition: opacity 1s linear;
}

video {
    top: 2px;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 1s linear;
}

.filters {
    filter: none;
}

/*------------------------------------------------------------------------------------------------------------------------*/

#play {
    --square: 2em;
    width: var(--square);
    height: var(--square);
    font-size: 32px;
    font-weight: bold;
    line-height: var(--square);
    text-shadow: 0 1px 0 #232323, 0 1px 4px var(--light-shadow);
    cursor: pointer;
    transition: transform .1s linear;
}

#play:hover {
    transform: scale(1.25) translateY(-.5px);
}


/*------------------------------------------------------------------------------------------------------------------------*/

#duration-cont {
    --dur-width: 325px;
    display: inline-block;
    /*margin-bottom: 50px;*/
    padding: 0 16px 8px;
    border-radius: 8px;
}

#duration-cont p {
    margin-bottom: 0;
}

#duration {
    width: calc(var(--dur-width) + 100px);
    cursor: pointer;
}


/*the 0:00s display*/

#duration-cont div {
    margin: auto;
    width: var(--dur-width);
    font-size: 22px;
}


/*------------------------------------------------------------------------------------------------------------------------*/

#volume-cont {
    --neg-marg: -32px;
    margin-bottom: 4px;
}

#volume-cont span {
    --wh: 42px;
    width: var(--wh);
    height: var(--wh);
    line-height: var(--wh);
    vertical-align: bottom;
}

#vMinus {
    margin-right: var(--neg-marg);
}

#vPlus {
    margin-left: var(--neg-marg);
}

#vMinus, #vPlus {
    z-index: 2;
    font-size: 32px;
    font-weight: bold;
    transition: transform .1s linear;
}

#vMinus:hover, #vPlus:hover {
    transform: scale(1.5) translateY(-1px);
}

#vPlus, #vPerc {
    font-size: 24px;
    font-weight: bold;
}

#vPerc {
    font-size: 32px;
}

#volume-cont #vPerc {
    width: 4em;
}

#vMinus, #vPlus, #mute, #max {
    cursor: pointer;
}

#volume-cont #mute, #volume-cont #max {
    margin: auto 16px;
    width: 3em;
}


/*------------------------------------------------------------------------------------------------------------------------*/

#special-cont {
    margin-top: 8px;
}

button {
    margin: 0 40px 24px;
    padding: 6px 8px 7px;
    background-color: var(--bg-color);
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

button.active {
    background-color: var(--color);
    color: var(--bg-color);
}


/*------------------------------------------------------------------------------------------------------------------------*/