:root {}

html {}

body {
    --trans-time: .33s;
    z-index: -3;
}

body, body * {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: .5px;
    text-align: center;
    /*border: 1px solid;*/
    outline: none;
}

body *::selection {
    background-color: transparent;
}


/*----------------------------------------------------------------------------*/

.instructions {
    position: absolute;
    padding-top: 32px;
    width: 100%;
}

.start {
    cursor: pointer;
}

.row {
    display: flex;
    z-index: -2;
    height: 50vh;
    min-height: 200px;
    overflow: hidden;
}

.row.top {
    min-height: 400px;
    background: url("images/clouds_still.gif") center -64px;
    /* background: url("images/clouds_animated.gif") center -64px; */
}

.row.bottom {
    background: url("images/dirt.png");
}

.cell {
    margin-top: auto;
    width: 50%;
    height: 10%;
    min-height: 100px;
    background: url("images/ground.png") no-repeat center / cover;
}

.character {
    left: 50%;
    z-index: -1;
    width: 256px;
    height: 200px;
    background: url("images/harold.png") no-repeat center / contain;
    transform: translateX(-50%);
    transition: transform var(--trans-time) cubic-bezier(0.15, 1.04, 0.21, 1.38);
    cursor: url("images/hammer_up.png"), pointer;
}

.character:active {
    cursor: url("images/hammer_down.png"), pointer;
}
