@import url('https://fonts.googleapis.com/css?family=Exo|VT323');

/*----------------------------------------------------------------------------*/

:root {}

html {}

body {
    --trans-time: .33s;
    z-index: -3;
}

body, body * {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: exo, sans-serif;
    letter-spacing: .5px;
    text-align: center;
    /*border: 1px solid;*/
    outline: none;
}

body *::selection {
    background-color: transparent;
}


/*----------------------------------------------------------------------------*/

.instructions {
    position: absolute;
    padding-top: 28px;
    width: 100%;
}

.instructions h1 {
    /*margin-bottom: 2px;*/
    font-size: 40px;
    letter-spacing: 2px;
}

.instructions p {
    font-weight: bold;
}

.start {
    margin-top: 12px;
    padding: 4px 16px 3px;
    box-shadow: 0 1px 2px #ccc;
    cursor: pointer;
}


/*----------------------------------------------------------------------------*/

.row {
    display: flex;
    z-index: -2;
    height: 50vh;
    min-height: 200px;
    overflow: hidden;
}

.row.top {
    min-height: 400px;
    background: url("images/clouds_still.gif") center -64px;
    /* background: url("images/clouds_animated.gif") center -64px; */
}

.row.bottom {
    background: url("images/dirt.png");
}

.cell {
    margin-top: auto;
    width: 50%;
    height: 10%;
    min-height: 100px;
    background: url("images/ground.png") no-repeat center / cover;
}


/*----------------------------------------------------------------------------*/

.scoreboard {
    position: absolute;
    top: 8px;
    left: 50%;
    padding: 16px 20px;
    width: 512px;
    height: 156px;
    background-color: rgba(255, 255, 255, .65);
    /*color: #333;*/
    font-size: 24px;
    font-weight: bold;
    border: 8px solid rgba(255, 255, 255, .75);
    border-radius: 16px;
    transform: translate(-50%);
}

.scoreboard * {
    vertical-align: bottom;
}

.scoreboard div {
    padding-left: 8px;
    border: 1px solid;
}

.scoreboard span {}

.scoreboard span:first-child {
    float: left;
    width: 200px;
}

.name {}

.high, .your {
    font-family: vt323, monospace;
    font-size: 32px;
}

.message {
    padding: 4px;
    height: 41px;
    background-color: #333;
    color: limegreen;
    font-family: vt323, monospace;
    font-size: 26px;
    line-height: 32px;
    border-top: none !important;
    border-bottom-color: black !important;
    transform: scaleX(1.01);
}


/*----------------------------------------------------------------------------*/

.character {
    left: 50%;
    z-index: -1;
    width: 256px;
    height: 200px;
    background: url("images/harold.png") no-repeat center / contain;
    transform: translateX(-50%);
    transition: transform var(--trans-time) cubic-bezier(0.15, 1.04, 0.21, 1.38);
    cursor: url("images/hammer_up.png"), pointer;
}

.character:active {
    cursor: url("images/hammer_down.png"), pointer;
}
